[submodule "www/elemental"]
	path = elemental
	url = git@github.com:zrajm/elemental
[submodule "www/baremark"]
	path = baremark
	url = git@github.com:zrajm/baremark
[submodule "www/quotecurl"]
	path = quotecurl
	url = git@github.com:zrajm/quotecurl
