/*-*- css-indent-offset: 2 -*-*/
/* Copyright 2023-2025 by zrajm. Licenses: CC BY-SA (text), GPLv2 (code). */
/* Style single textarea page. Overridden by Javascript (if enabled). */
html { overflow: hidden }
html:before {
  position: absolute; right: 50%; transform: translateX(50%); z-index: 1;
  background: #ff0; padding: .25em 1em;
  font: 12px monospace; text-align: center;
  content: "Enable Javascript to prettify this Markdown.";
}
textarea {
  position: fixed; inset: 0;
  border: 0; resize: horizontal;
  color: inherit; background: inherit;
  padding: 0 2ch;
  white-space: pre;
  width: 80ch; max-width: 100vw; margin: auto;
  box-shadow: 0 0 .75rem #aaa6, 0 0 1.5rem #aaa6;
}
@media(prefers-color-scheme: dark) { /* Dark mode. */
  html { color: #fff; background: #000 }
  html:before { background: #f00 }
}
/*[eof]*/
