/*-*- css-indent-offset: 2 -*-*/
/* Copyright 2025 by zrajm. Licenses: CC BY-SA (text), GPLv2 (code). */

html { --is-nonfirst-p: 0 }

/* All sibling `<p>` always inherit the same indent mode, so mode can only
   differ between them if set with <p class=MODE>. So here, set 'nonfirst' for
   <p> which follows <p> with no indent class, or with 'book' class. */
p:not(.blank,.hanging,.contd) + p { --is-nonfirst-p: var(--is-book) }
p {
  text-indent: calc(var(--indent) * (
    /* Book + non-first paragraph = 1, otherwise 0. */
    (var(--is-book) * var(--is-nonfirst-p)) +
    /* Hanging = -1, hanging + contd = 1, otherwise 0. */
    (var(--is-hanging) * -1) + (var(--is-contd) * 2)
  ));
  padding-left: calc(var(--indent) * var(--is-hanging));
}

/*****************************************************************************/

/* Booleans for indent modes. */
html, .blank { --is-book: 0; --is-hanging: 0; --is-contd: 0 }
.book        { --is-book: 1; --is-hanging: 0; --is-contd: 0 }
.hanging     { --is-book: 0; --is-hanging: 1; --is-contd: 0 }
.contd       { --is-book: 0; --is-hanging: 1; --is-contd: 1 }

/* FIXME: what about first & last paragraphs top & bottom? */
p {
  &:first-of-type { margin-top: 1rem }
  &:last-of-type { margin-bottom: 1rem }
  margin-top: calc(1rem * (1 - var(--is-book)) * (1 - var(--is-hanging)));
  margin-bottom: calc(1rem * (1 - var(--is-book)) * (1 - var(--is-hanging)));
  &:where(:has(+ p)) {
    margin-bottom: calc(1rem * (1 - var(--is-book)) * (1 - var(--is-hanging)));
  }
  &:where(+ p)  {
    margin-top: calc(1rem * (1 - var(--is-book)) * (1 - var(--is-hanging)));
  }
}

p.book {
  &:first-of-type { margin-top: 1rem }
  &:last-of-type { margin-bottom: 1rem }
  margin-top: calc(1rem * (1 - var(--is-book)));
  margin-bottom: calc(1rem * (1 - var(--is-book)));
  & + p { margin-top: calc(1rem * (1 - var(--is-book))) }
}
p:has(+ p.book) { margin-bottom: calc(1rem * (1 - var(--is-book))) }

p.hanging {
  &:first-of-type { margin-top: 1rem }
  &:last-of-type { margin-bottom: 1rem }
  margin-top: calc(1rem * (1 - var(--is-hanging)));
  margin-bottom: calc(1rem * (1 - var(--is-hanging)));
  & + p { margin-top: calc(1rem * (1 - var(--is-hanging))) }
}
p:has(+ p.hanging) { margin-bottom: calc(1rem * (1 - var(--is-hanging))) }

/*[eof]*/
